footer {
  
  font-size: 15px !important ; 
  
}

#index > div {
  color:red;
  font-size: 20px;
  text-align: left;
}

DIV.home {
  position:absolute;
  top: -50%;
  left:0;
  text-align:left;
  font-size: 12px;

  
}
DIV.home a {
  visibility: hidden;
  
  
}


DIV.home:hover a {
  visibility: visible;
}

DIV.home img {
  border:none !important;
  box-shadow: none !important;
  background: none !important;
}
